h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20;
}


p {
    font-family: Arial, Helvetica, sans-serif;
}  

button,
button:disabled {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    min-width: 3em;
    min-height: 3em;
    color: black;
    border: 2px solid black;
    opacity: 1;
}

.upButton,
.upButton:disabled {
    background: lightblue;
}

.cheeseButton,
.cheeseButton:disabled {
    background: yellow;
}

.buttonOne,
.buttonOne:disabled {
    background: lightgray;
}

.buttonTwo,
.buttonTwo:disabled {
    background: rgb(200, 200, 200);
}

.buttonThree,
.buttonThree:disabled {
    background: rgb(190, 190, 190);
}

.buttonFour,
.buttonFour:disabled {
    background: rgb(180, 180, 180);
}

.buttonFive,
.buttonFive:disabled {
    background: rgb(170, 170, 170);
}

.buttonSix,
.buttonSix:disabled {
    background: rgb(160, 160, 160);
}

.buttonSeven,
.buttonSeven:disabled {
    background: rgb(150, 150, 150);
}

.buttonEight,
.buttonEight:disabled {
    background: rgb(140, 140, 140);
}

.buttonNine,
.buttonNine:disabled {
    background: rgb(130, 130, 130);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.2em);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-p {
    font-size: 20px;
}

.modal-btn {
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid #555;
    background-color: #fefefe;
}

.modal-btn:hover {
    color: #fefefe;
    background-color: #555;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    cursor: pointer;
}